
<div class="text-center">
    <h1 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" class="display-4">Welcome To Our Online Library</h1>
    <img src="~/images/559404-istock-512966920_0 (1).jpg" />
</div>
