<h1>@ViewData["Title"]</h1>

<div class="container">
    <p>
        <hr />
        * Copyright 2017 The Android Open Source Project<br />
        <hr />
        * Licensed under the Apache License, Version 2.0 (the "License");<br />
        <hr />
        * you may not use this file except in compliance with the License.<br />
        <hr />
        * You may obtain a copy of the License at<br />
        <hr />
        * <a href="http://www.apache.org/licenses/LICENSE-2.0">License Here </a><br />
        <hr />
        * Unless required by applicable law or agreed to in writing, software<br />
        <hr />
        * distributed under the License is distributed on an "AS IS" BASIS,<br />
        <hr />
        * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.<br />
        <hr />
        * See the License for the specific language governing permissions and<br />
        <hr />
        * limitations under the License.<br />
    </p>
</div>

